<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 10000000s;
}

@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
</style>
</head>
<body>

<div class="slideshow-container" style= "text-align: center">

<div class="mySlides fade">
  <div class="numbertext">1 / 10</div>
<a href="http://us.topshop.com/en/tsus/product/clothing-70483/trend-check-you-out-7909676/britney-spears-t-shirt-7936119">
<img src="https://i.paste.pics/e5e43156f8174400784ad6cbd64212d0.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 10</div>
  <a href="https://www.zara.com/us/en/embroidered-overall-shorts-p04786083.html?v1=6450762&v2=1074539">
<img src="https://i.paste.pics/3da5181dab032247798074fd7be6e195.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 10</div>
 <a href="https://www.madewell.com/button-front-tiered-dress-in-oasis-palms-J1055.html?dwvar_J1055_color=WQ5468&cgid=apparel-dress&position=0&position=0#sz=32&start=65
">
<img src="https://i.paste.pics/f93b3c066688653422f8b8dec848f9da.png"


 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">4 / 10</div>
<a href="https://www.madewell.com/rigid-denim-a-line-mini-skirt-cutout-edition-K0068.html?dwvar_K0068_color=DM0963&cgid=apparel-skirts&position=14&position=14#start=1">
<img src="https://i.paste.pics/24766767c3c9d0a3e2ea974e2a9e3467.png"

 style= "width: 50%" >
</a>

<div class="text">Casual</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">5 / 10</div>
<a href="https://www.madewell.com/rigid-denim-a-line-mini-skirt-pieced-edition-J0555.html?dwvar_J0555_color=DM2121&cgid=apparel-skirts&position=23&position=23#start=1">
<img src="https://i.paste.pics/80afc103aa2953ad8cc8688394a1f910.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">6 / 10</div>
<a href="https://www.madewell.com/denim-wrap-mini-skirt-H5946.html?dwvar_H5946_color=DM1946&cgid=apparel-skirts&position=3&position=3#sz=32&start=33">
<img src="https://i.paste.pics/91cc1aa447e81fe32c194f2bcd3f0a8c.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>



<div class="mySlides fade">
  <div class="numbertext">7 / 10</div>
<a href="http://www.asos.com/monki/monki-kimomo-zip-bottom-lightwash-jean/prd/9865802?clr=blue&SearchQuery=&cid=3630&gridcolumn=4&gridrow=1&gridsize=4&pge=1&pgesize=72&totalstyles=96">
<img src="https://i.paste.pics/2b68678348838d87d2f3779dfabc9d82.png"
 style= "width: 50%">
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">8 / 10</div>
<a href="http://www.asos.com/moon-river/moon-river-ditsy-floral-jumpsuit/prd/9886257?clr=yellowfloral&SearchQuery=&cid=7618&gridcolumn=4&gridrow=10&gridsize=4&pge=1&pgesize=72&totalstyles=988">
<img src="https://i.paste.pics/6f1c05a5ef50029fc653155a48970f4d.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">9 / 10</div>
<a href="http://www.asos.com/asos-design/asos-design-denim-boilersuit-in-stone/prd/10342134?clr=stone&SearchQuery=&cid=7618&gridcolumn=1&gridrow=16&gridsize=4&pge=1&pgesize=72&totalstyles=996">
<img src="https://i.paste.pics/6d681b7537a24bd055619e0ee9b054e9.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">10 / 10</div>
<a href="http://www.asos.com/boohoo/boohoo-turn-up-hem-mom-jeans/prd/8257751?clr=blue&SearchQuery=&cid=3630&gridcolumn=3&gridrow=8&gridsize=4&pge=1&pgesize=72&totalstyles=964">
<img src="https://i.paste.pics/97f53136e482d54991819711005f68f9.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>




</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span> 
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span> 
  <span class="dot" onclick="currentSlide(10)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

</body>
</html> 
