<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1000000s;
}

@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
</style>
</head>
<body>

<div class="slideshow-container" style= "text-align: center">

<div class="mySlides fade">
  <div class="numbertext">1 / 11</div>
  <a href="http://www2.hm.com/en_us/productpage.0683662005.html">
<img src="https://i.paste.pics/eaa594d73f27930ff58967a83cfbbd43.png"
 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 11</div>
  <a href="http://www2.hm.com/en_us/productpage.0400296012.html">
<img src="https://i.paste.pics/520581ccc3250eb8df5a5b42478a1eb5.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 11</div>
  <a href="https://www.zara.com/us/en/sweatshirt-with-pockets-p05644628.html?v1=6522602&v2=1074617">
<img src="https://i.paste.pics/7c0256205a3b262601e8c21b28345253.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">4 / 11</div>
  <a href="https://us.shein.com/Pocket-&-Button-Front-Color-And-Sew-Skirt-p-507940-cat-1732.html">
<img src="https://i.paste.pics/0e17b428636506636f33f062f75cfc01.png"
 style= "width: 50%" >
</a>

<div class="text">Casual</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">5 / 11</div>
 <a href="https://www.zara.com/us/en/top-with-knotted-detail-p00264066.html?v1=6509581&v2=1074617">
<img src="https://i.paste.pics/3c9fa247edeb9f773d40b1f2cc7708a0.png"
 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">6 / 11</div>
<a href="https://www.zara.com/us/en/t-shirt-with-belt-buckle-p00219349.html?v1=7078061&v2=1074617">
<img src="https://i.paste.pics/87e5c21c87655f16181d1983a6b2399f.png"
 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>



<div class="mySlides fade">
  <div class="numbertext">7 / 11</div>
<a href="https://www.zara.com/us/en/miniskirt-with-topstitching-p07385251.html?v1=6662098&v2=1074619">
<img src="https://i.paste.pics/c3d098f5d28cef19450e20fb3bcbdf25.png"
 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">8 / 11</div>
<a href="https://www.zara.com/us/en/paperbag-skirt-with-buckle-p04117293.html?v1=7005048&v2=1074619">
<img src="https://i.paste.pics/c3ad9450bb76416dc365c073b3045d25.png"
 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">9 / 11</div>
<a href="https://us.shein.com/Striped-Tiered-Ruffle-Hem-Smock-Skirt-p-428194-cat-1732.html
https://shop.thrashermagazine.com/clothing/shirts/flame-logo-t-shirt-black.html">
<img src="https://i.paste.pics/7e0f399e082917b5fbfec1208ecd9ec5.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">10 / 11</div>
<a href="http://www.asos.com/boohoo/boohoo-turn-up-hem-mom-jeans/prd/8257751?clr=blue&SearchQuery=&cid=3630&gridcolumn=3&gridrow=8&gridsize=4&pge=1&pgesize=72&totalstyles=964">
<img src="https://i.paste.pics/97f53136e482d54991819711005f68f9.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">11 / 11</div>
<a href="http://www.asos.com/asos-design/asos-design-cotton-frill-hem-jumpsuit-with-square-neck-and-button-detail/prd/9512420?clr=rust&SearchQuery=&cid=7618&gridcolumn=3&gridrow=5&gridsize=4&pge=3&pgesize=72&totalstyles=993">
<img src="https://i.paste.pics/d583e9ac0cc332cf0268a016496056be.png"

 style= "width: 50%" >
</a>

  <div class="text">Casual</div>
</div>



</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span> 
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span> 
  <span class="dot" onclick="currentSlide(10)"></span> 
  <span class="dot" onclick="currentSlide(11)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

</body>
</html> 

