<!DOCTYPE html>
<html lang="en">
  
  <head> 
  <meta charset="utf-8">
  <title> Urban Up⇞Beat </title>
  <link href="css/style.css" rel="stylesheet" type="text/css"> 
  <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans+Condensed:300|Oswald|Poppins|Raleway|Roboto+Slab|Slabo+27px" rel="stylesheet">
  </head>
  
   
   
<title> Urban Up⇞Beat</title>
<body>

    <h1 class="title"><b>Urban Up⇞Beat</b></h1>

<div> 
<p class="info"> <b>Urban Up⇞Beat is a personal shopping website that can help empower </b></p>
<p class= "info_2"> <b>women through dressing for success!</b></p>
</div>

 
  
  <a href="/type_of_clothes"><button type="button" class= "button">Click To Start Shopping!</button></a>
  <a href="/about_us"><button type="button" class= "aboutusbutton">About Us</button></a>


    
</body>
</html>
