<!DOCTYPE html>
<html>
   <link href="css/style.css" rel="stylesheet" type="text/css">    
<title> Urban Up⇞Beat</title>
<body>

    <h1 class="title"><b>Urban Up⇞Beat</b></h1>

<div> 
<p class="info"> <b>Urban Up⇞Beat is a personal shopping website that can help empower </b></p>
<p class= "info_2"> <b>women through dressing for success!</b></p>
</div>

 
  
  <a href="/type_of_clothes"><button type="button" class= "button">Click To Start Shopping!</button></a>


    
</body>
</html>
