<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
 max-width: 1000px;
 position: relative;
 margin: auto;
}

/* Next & previous buttons */
.prev, .next {
 cursor: pointer;
 position: absolute;
 top: 50%;
 width: auto;
 padding: 16px;
 margin-top: -22px;
 color: white;
 font-weight: bold;
 font-size: 18px;
 transition: 0.6s ease;
 border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
 right: 0;
 border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
 color: #f2f2f2;
 font-size: 15px;
 padding: 8px 12px;
 position: absolute;
 bottom: 8px;
 width: 100%;
 text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
 color: #f2f2f2;
 font-size: 12px;
 padding: 8px 12px;
 position: absolute;
 top: 0;
}

/* The dots/bullets/indicators */
.dot {
 cursor: pointer;
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.6s ease;
}

.active, .dot:hover {
 background-color: #717171;
}

/* Fading animation */
.fade {
 -webkit-animation-name: fade;
 -webkit-animation-duration: 1.5s;
 animation-name: fade;
 animation-duration: 10000s;
}

@-webkit-keyframes fade {
 from {opacity: 1}
 to {opacity: 1}
}

@keyframes fade {
 from {opacity: 1}
 to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
 .prev, .next,.text {font-size: 11px}
}
</style>
</head>
<body>

<div class="slideshow-container" style= "text-align: center">

<div class="mySlides fade">
 <div class="numbertext">1 / 10</div>
 <a href="http://us.topshop.com/en/tsus/product/clothing-70483/ivy-park-5463606/panel-leggings-and-top-set-by-ivy-park-7939741?bundle=true">
<img src="https://images.topshop.com/i/TopShop/BUNDLE_29I45PBLK29I75PBLK_F_1.jpg?$Zoom$" style= "width: 50%" >
</a>

</div>

<div class="mySlides fade">
 <div class="numbertext">2 / 10</div>
 <a href="http://us.topshop.com/en/tsus/product/clothing-70483/ivy-park-5463606/paperbag-wide-leg-joggers-by-ivy-park-7869614"><img src="http://mediaus.topshop.com/wcsstore/TopShopUS/images/catalog/TS29I90PLGM_Zoom_M_1.jpg" style="width:50%"></a>
</div>

<div class="mySlides fade">
 <div class="numbertext">3 / 10</div>
 <a href="https://shop.lululemon.com/p/jackets-and-hoodies-jackets/Define-Jacket/_/prod5020054?color=34682"><img src="https://images.lululemon.com/is/image/lululemon/LW4AWJS_034682_1?$image_carousel-lg$" style="width:50%"></a>
 <div class="text">
</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4/10</div>
<a href="https://www.adidas.com/us/run-ultra-tech-jacket/CZ3718.html"><img src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto,fl_lossy/70fc4276c6a04d6e8150a8e400bc254a_9366/Run_Ultra_Tech_Jacket_White_CZ3718_21_model.jpg" style="width:50%"></a>
</div>

<div class="mySlides fade">
  <div class="numbertext">5/10</div>
<a href="https://shop.lululemon.com/p/women-pants/Speed-Up-Tight-Mesh-28/_/prod9080154?color=0001"><img src="https://images.lululemon.com/is/image/lululemon/LW5BLRS_0001_1?$image_carousel-xl$" style="width:50%"></a>
</div>

<div class="mySlides fade">
  <div class="numbertext">6/10</div>
<a href="https://shop.lululemon.com/p/what-we-love/On-The-Fly-Pant-Woven-Track-Stripe/_/prod9110003?color=32604"><img src="https://images.lululemon.com/is/image/lululemon/LW5BM5S_032604_1?$image_carousel-xl$" style="width:50%"></a>
</div>



<div class="mySlides fade">
  <div class="numbertext">7/10</div>
<a href="https://www.bloomingdales.com/shop/product/nike-color-block-windbreaker-track-jacket?ID=2681464&pla_country=US&cm_mmc=Google-PLA-ADC-_-Designer-NA-_-Nike-_-887229639354USA&CAWELAID=120156070007105362&CAGPSPN=pla&CAAGID=47685644599&CATCI=aud-298639202820:pla-379743230377&CATARGETID=120156070006074586&cadevice=c&gclid=CjwKCAjwwdTbBRAIEiwAYQf_E9MAAl8Wb-i5KlqX8_NpijytLs-1fJPSUKb8gGk-dnkJwDIY4sw5PRoCdD0QAvD_BwE"><img src="https://images.bloomingdalesassets.com/is/image/BLM/products/8/optimized/9727778_fpx.tif?wid=1200&qlt=90,0&layer=comp&op_sharpen=0&resMode=sharp2&op_usm=0.7,1.0,0.5,0&fmt=jpeg" style="width:50%"></a>
</div>
<div class="mySlides fade">
  <div class="numbertext">8/10</div>
<a href="https://www.bloomingdales.com/shop/product/theory-leggings-shawn-c-fixture-ponte?ID=1183816&pla_country=US&cm_mmc=Google-PLA-ADC-_-Yes%20I-NA-_-Theory-_-887717578394USA&CAWELAID=120156070001454264&CAGPSPN=pla&CAAGID=47685647239&CATCI=pla-384406588308&CATARGETID=120156070006180058&cadevice=c&gclid=CjwKCAjwwdTbBRAIEiwAYQf_E0AoY4YiicZWBH1E3xfYi_RIctAbyfNfw6HGtn-LXSZBWF_Eh_OK0hoC9xwQAvD_BwE"><img src="https://images.bloomingdalesassets.com/is/image/BLM/products/2/optimized/8679932_fpx.tif?wid=1200&qlt=90,0&layer=comp&op_sharpen=0&resMode=sharp2&op_usm=0.7,1.0,0.5,0&fmt=jpeg" style="width:50%"></a>
</div>

<div class="mySlides fade">
  <div class="numbertext">9/10</div>
<a href="https://shop.lululemon.com/p/women-pants/Wunder-Under-Pant-HR-Tech-Mesh/_/prod8351197?color=LW5AWLS_0001&skuId=3769111&locale=en_US&sl=US&CAWELAID=120278590000226289&CID=Google_Women_Shopping_US&gclid=CjwKCAjwwdTbBRAIEiwAYQf_E5_6daPhIYWoiv4_1u2VIoZYznUUpL8-OlqFlfJS7u7owqTh65O5ThoClyQQAvD_BwE"><img src="https://images.lululemon.com/is/image/lululemon/LW5AWLS_0001_1?$image_carousel-xl$" style="width:50%"></a>
</div>

<div class="mySlides fade">
  <div class="numbertext">10/10</div>
<a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwipyqWIs_LcAhWBXoYKHdpkBhQYABAUGgJ2dQ&ohost=www.google.com&cid=CAESQeD2IdQQI4MUs1xvfZkjcha5t4c4tQny0pkFWQj8tVGglyl8iE48-H9N1SqGERJJiC2Wen5dqWOvH93iFr2fISdL&sig=AOD64_1UZadSVwX7q09enG6CQCohegRTsA&ctype=5&q=&ved=0ahUKEwiV4ZmIs_LcAhUEk1kKHZdiCcAQwg8IPw&adurl=
"><img src="https://images.lululemon.com/is/image/lululemon/LW4AC7S_0001_1?$image_carousel-xl$" style="width:50%"></a>
</div>



<br>




<div style="text-align:center">
 <span class="dot" onclick="currentSlide(1)"></span>
 <span class="dot" onclick="currentSlide(2)"></span>
 <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
   <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
     <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
       <span class="dot" onclick="currentSlide(9)"></span>
        <span class="dot" onclick="currentSlide(10)"></span>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
 showSlides(slideIndex += n);
}

function currentSlide(n) {
 showSlides(slideIndex = n);
}

function showSlides(n) {
 var i;
 var slides = document.getElementsByClassName("mySlides");
 var dots = document.getElementsByClassName("dot");
 if (n > slides.length) {slideIndex = 1}
 if (n < 1) {slideIndex = slides.length}
 for (i = 0; i < slides.length; i++) {
     slides[i].style.display = "none";
 }
 for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" active", "");
 }
 slides[slideIndex-1].style.display = "block";
 dots[slideIndex-1].className += " active";
}
</script>

</body>
</html>

