<html>
   <link href="css/type_of_clothes.css" rel="stylesheet" type="text/css"> 
</html>
<body>
  <h1 class="question"> <b> <%= "What are you looking for?" %> </h1> </b>
  
  <hr> 
  
  <div class="grid-container">
  <div class="grid-item" > 
    <input class= "clothes_buttons" type="button"  value="Dressy" onclick="location.href = '/dressy_price';">
  </div>
  <div class="grid-item" > 
    <input class= "clothes_buttons" type="button"  value="Casual" onclick="location.href = '/casual_price';">
  </div>
  <div class="grid-item" >
    <input class= "clothes_buttons" type="button"  value="Active Wear" onclick="location.href = '/sportswear_price'";>
  </div>  
  
</div>
  
  
  






  
</body>